body
  margin-left: 100px
  max-width: 1360px

.post
  border: 1px solid #F5F3F0
  margin: 0 0 15px
  background-color: #F7F9F9
  width: 650px

  .post-title
    font-size: 18px
    text-align: center
    border-bottom: 1px solid #E4E0D7

  .post-author
    width: 50%
    display: inline-block

  .post-date
    width: 50%
    display: inline-block

  .post-text
    padding: 0 5px 15px

.postForm
  width: 650px

  .text-input
    width: 650px
    resize: vertical
    height: 250px
    border: 1px solid #E7DDE4
    padding: 0
    margin: 20px 0 0

  .author-input, .title-input
    display: inline-block
    border: 1px solid #E7DDE4
    
  .title-input
    float: right
    width: 50%

  .button
    background: wheat
    border: none
    margin: 15px 0 15px
    padding: 7px
    width: 15%